<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styl.css">
    <title>Koguciki</title>
</head>
<body>
    {% block content %}
    <!-- <header>
        <div class="logo">
            <img src="/static/logo.png" alt="Koguciki Logo">
        </div>
    </header> -->

    <main>
        <div class="container">
            <div class="card">
                <form action="/" method="post">
                    <h1>Dane</h1>
                    <label for="date">Data wstawienia piskląt</label>
                    <input type="date" id="date" name="date" required class="form_input">
                    <p>Termin uboju kogutów <b>{{ target_date }}</b></p>

                    <hr>

                    <label for="amount">Liczba piskląt wstawionych do tuczu</label>
                    <input type="number" id="amount" name="amount" required class="form_input" placeholder="szt"> 

                    <hr>

                    <label for="downed">Liczba upadków</label>
                    <input type="number" id="downed" name="downed" step="0.01" required class="form_input" placeholder="szt">

                    <hr>

                    <label for="feed">Ilosc zużytej paszy w kilogramach</label>
                    <input type="number" id="feed" name="feed" step="0.01" required class="form_input" placeholder="kg">

                    <input type="submit" value="Oblicz" class="submit_button">

                    {% if percent and feed_waste and target_date and downed_amount %}
                    <div class="results">
                        <form action="/generate_pdf" method="post">
                            <h2>Podsumowanie</h2>
                            <table>
                                <tr>
                                    <th>Ilość sztuk wstawionych</th>
                                    <td>{{ amount }}</td>
                                </tr>
                                <tr>
                                    <th>Ilość sztuk do zdania</th>
                                    <td>{{ downed_amount }}</td>
                                </tr>
                                <tr>
                                    <th>Ilość upadków</th>
                                    <td>{{ downed }}</td>
                                </tr>
                                <tr>
                                    <th>Śmiertelność</th>
                                    <td>{{ percent }}%</td>
                                </tr>
                                <tr>
                                    <th>Ilość zużytej paszy</th>
                                    <td>{{ feed }}kg</td>
                                </tr>
                                <tr>
                                    <th>Ilość paszy na sztukę</th>
                                    <td>{{ feed_waste }}kg</td>
                                </tr>
                            </table>
                            <input type="submit" value="Pobierz PDF" class="submit_button">
                        </form>
                    </div>
                {% endif %}
                </form>
            </div>
        </div>
    </main>

    <footer>
        <div class="contact">
            <p>Created by Mateusz Gurgul</p>
            <p>Phone number:+48 606-818-879</p>
            <p>Email: mateusz.gurgul.2003@gmail.com</p>
        </div>
        <div class="social_media">
            <a href="https://github.com/MateuszGurgul11"><img src="/static/github.png" alt="Github"></a>
            <a href="www.linkedin.com/in/mateusz-gurgul-b04465292"><img src="/static/linkedin.png" alt="Linkedin"></a>
        </div>
    </footer>
    {% endblock %}
</body>
</html>
